/* Variables*/
:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-red: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --raleway: "Raleway", sans-serif;
    --sans: "Open Sans", sans-serif;
    --btn-radius: 23px;
    --shadow-page: 0 3px 6px rgba(0, 0, 0, 0.16);
}
/* base */
*{
    box-sizing: border-box;
}
body{
    font-family: var(--sans);
}
a{
    text-decoration: none;
}
.container{
    width: 1352px;
    margin: 0 auto;
}

/* Header section */

header{
    height: 70px;
    box-shadow: var(--shadow-page);
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.menu{
    display: flex;
    text-transform: uppercase;
    margin-right: 88px;

}
.menu-link{
    color: var(--color-grey);
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 3.28px;
    padding: 28px 18px 22px;
}
.menu-link:hover{
    color:var(--color-black);
    border-bottom: 4px solid var(--color-primary);
}
.menu li{
    padding: 0 26px;
}

.logo{
    font-family: var(--raleway);
    font-size: 2rem;
    font-weight: 300;
    color: var(--color-primary);
    margin-left: 136px;
}

/* Opening section*/

.opening{
    box-shadow: 0 -5px 80px #00000029;
}
.opening .container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.open-content{
    margin-top: 130px;
    text-align: center;
}
.open-word{
    font-family: var(--raleway);
    font-size: 3.0625rem;
    color: var(--color-black);
}
.open-p {
    color: var(--color-black);
    margin-top: 20px;
    margin-bottom: 38px;
}
.btn{
    display: inline-block;
    color:var(--color-white);
    font-weight: bold;
    border-radius: var(--btn-radius);
    padding: 16px 65px;
}
.btn-primary{
    background: var(--color-primary);
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
}
.btn-open{
    padding: 23px 157px;
    border-radius: 40px;
}
.open-img{
    width: 100%;
    height: auto;
}

/* Stats section*/

.stats{
    box-shadow: 0 -5px 80px #00000029;
}
.stats .container{
    height: 100%;
}
.stats-word{
    font-family: var(--raleway);
    color: var(--color-black);
    font-size: 2.25rem;
    text-align: center;
    padding: 100px 0;
}
.stats-content{
    display: flex;
    justify-content: center;
}
.stats-icon{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 92.5px 121px 92.5px;
}
.circle{
    width: 62.71px;
    height: 62.71px;
    border-radius: 50%;
    position: relative;

}
.circle-red{
    background: var(--color-red);
}
.circle-red::after{
    content: "";
    width: 44px;
    height: 52px;
    background-image: url("../assets/Person.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 45%;
}
.circle-blue{
    background: var(--color-primary);
}
.circle-blue::after{
    content: "";
    width: 65.43px;
    height: 36.5px;
    background-image: url("../assets/Eye.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 20%;
    left: 30%;
}
.circle-green{
    background: var(--color-green);
}
.circle-green::after{
    content: "";
    width: 52px;
    height: 48px;
    background-image: url("../assets/Catalog.svg");
    position: absolute;
    top: 10%;
    left: 45%;
}
.stat-num{
    font-family: var(--raleway);
    font-size: 1.25rem;
    font-weight: 800;
    color: var(--color-black);
    letter-spacing: 6px;
    margin: 14px 0 19px 0;
}
.stat-description{
    text-align: center;
    font-family: var(--raleway);
    color:var(--color-grey);
}

/* Benefits section*/

.benefits{
    background: var(--color-light-grey);
}
.benefits .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.line{
    width: 327.64px;
    height: 4px;
}
.be-first, .your-shop, .recognition-content{
    display: flex;
    margin: 105px 251px 37px;
    background: var(--color-white);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    position: relative;
    width: 1124px;
    height: 370px;
}
.be-first-content{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 91px 169px 91px 35px;
}
.benefits-header{
    font-family: var(--raleway);
    font-size: 2.25rem;
    color: var(--color-black);
}
.benefits-p{
    width: 416px;
    padding-top: 30px;
    padding-bottom: 50px;
}
.be-first-content .line{
    background: var(--color-red);
}
.be-first img{
    width: 386px;
    height: 219px;
    margin: 113px 118px 38px 0;
    z-index: 1;
}
.be-first::after{
    content: "";
    position: absolute;
    width: 255px;
    height: 255px;
    border-radius: 41px;
    background: var(--color-red);
    transform: scale(0.71) rotate(45deg);
    top: 38px;
    right: 71px;
}


.your-shop {
    margin: 0 251px 37px;
}
.your-shop img{
    width: 426px;
    height: 328px;
    margin: 29px 192px 13pc 70px;
    z-index: 1;
}
.your-shop::after{
    content: "";
    position: absolute;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background: var(--color-primary);
    top: 12px;
    left: 70px;
}
.your-shop-content{
    margin: 69px 20px 71px 0;
}
.your-shop-content .line{
    background: var(--color-primary);
}
.recognition{
    display: flex;
}
.recognition-content{
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-left: 35px;
    width: 623px;
    margin: 0 61px 105px 0;
}
.recognition-content p{
    width: 553px;
}
.recognition-content .line{
    background: var(--color-green);
}
.trumpet{
    background: var(--color-green);
    height: 370px;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}
.trumpet img{
    width: 296px;
    height: 208px;
    margin: 98px 82px 64px 62px;
}

/* Prices section*/

.prices .container{
    display: flex;
    flex-direction: column;
    align-items:center;
    border-left: 1px solid var(--color-light-grey);
    border-right: 1px solid var(--color-light-grey);
    height: 100%;
}
.prices-header{
    font-family: var(--raleway);
    font-size: 2.25rem;
    color:var(--color-black);
    margin-top: 100px;
}
.options{
    display: flex;
    justify-content: center;
    margin-top: 71px;
    column-gap: 70px;
}
.option{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 18px;
    width: 372px;
    height: 461px;
    position: relative;
}
.option-header{
    font-family: var(--raleway);
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 34px;
    margin-bottom: 14px;
}
.price{
    font-size: 2.875rem;
    font-weight: 300;
}
.limited{
    font-family: var(--raleway);
    font-size: 0.75rem;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 50px;
}
.basic .price {
    color: var(--color-red);
    margin-bottom: 69px;
}
.professional .price{
    color:var(--color-primary);
}
.premium .price {
    color: var(--color-green);
}
.offer{
    text-align: center;
    font-size: 0.875rem;
}
.available{
    margin-bottom: 20px;
    list-style-image: url("../assets/Ckechmark-1.svg");
    list-style-position: inside;
}
.available-not{
    list-style-image: url("../assets/Close.svg");
}
.basic{
    border-color: var(--color-red);
}
.professional{
    border-color: var(--color-primary);
    box-shadow: 5px 10px 27px var(--color-primary-shadow);
    transform: scale(1.08);
}
.premium{
    border-color: var(--color-green);
}
.btn-price{
    position: absolute;
    bottom: -25px;
}
.basic .btn-price{
    background: var(--color-red);
}
.premium .btn-price{
    background: var(--color-green);
}

/*  contact section*/

.contact{
    box-shadow: var(--shadow-page);
}
.contact .container{
    display: flex;
    justify-content: center;
    padding-top: 197px;
    height: 100%;
}
.questions{
    display: flex;
    flex-direction: column;
    padding-right: 114px;
}
.questions h1{
    font-family: var(--raleway);
    font-size: 3.0625rem;
    margin-bottom: 22px;
}
.info{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.info span{
    margin-left: 10px;
    margin-right: 20px;
    color: var(--color-grey);
}
.enterform{
    display: flex;
    flex-direction: column;
    width: 440px;
}
.label{
    text-transform: uppercase;
    font-size: 0.6875rem;
    font-weight: bold;
    letter-spacing: 3.28px;
    color: var(--color-primary);

}
.enterform input{
    border: none;
    border-bottom: 1px solid var(--color-black);
    margin-top: 15px;
    margin-bottom: 30px;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox {
    cursor: pointer;
    display: flex;
    text-align: left;
    font-size: 0.75rem;
    letter-spacing: 0;
    color: var(--color-grey);
    opacity: 1;
}

.checkbox span {
    height: 24px;
    flex-shrink: 0;
    flex-basis: 24px;
    border: 1px solid var(--color-grey);
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.checkbox input:checked + span {
    background-image: url("../assets/Checkmark.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.btn-contact{
    border:none;
    padding: 20px 97px;
    border-radius: 35px;
    margin-top: 20px;
    margin-bottom: 78px;
    margin-left: auto;
}

/* footer section */
















